* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 7 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .navbar-links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navbar-link {
      padding: 10px 15px;
      cursor: pointer;
      color: gray;
      text-decoration: none;
    }
  }
}